
.transaction-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.transaction-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.transaction-form {
  margin-bottom: 20px;
}

.transaction-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.transaction-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.transaction-form input {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.transaction-form button.add-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}

/* İşlemler listesi */
.transaction-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;
}

.transaction-list h3 {
  color: #333;
}

.transaction-list button {
  background-color: #814949;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.transaction-list ul {
  list-style-type: none;
}

.transaction-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-info {
  flex-grow: 1;
}

.button-group {
  display: flex;
  align-items: center;
}

.error-message {
  color: red;
}


.success-message {
  color: green;
  border: 1px solid rgb(16, 48, 230);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px; /*  bak düzenle boyutu */
}
