.control-panel {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dde01c;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(253, 5, 5, 0.1);
  }
  
  .control-panel h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .buttons button {
    background-color: #4caf50;
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .buttons button:hover { 
    background-color: #18abbe;

  }
  
  .back-button {
    background-color: #f44336; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #d32f2f; 
  }
  